# Created by .ignore support plugin (hsz.mobi)
vcs.xml
*.class
venv/
.idea/
objectivec/src/test/java/resources/uml/project
idlecommand/src/test/java/resources/project
idlecommand/src/test/java/resources
target/
